.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  position: relative;
}

.carousel-items {
  display: flex;
  overflow: hidden;
  width: 70%;
  gap: 20px;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  background-color: #ddd;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  user-select: none;
}

.carousel-item.active {
  opacity: 1;
  background-color: #bbb;
}

.nav {
  background: black;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}

.nav:hover {
  background: #333;
}
